<div class="container-instructions">
  <h1>Instructions</h1>
  <div class="inside-instruct">
    <p>In this experiment, you will be prompted to generate ideas about specific prompts. You will do so
      with your computer keyboard. It is important that you are sitting in your normal typing position
      and that you type as you normally would as if you were taking notes or writing in a Word document.

      Take the opportunity to ready yourself now for typing. You will practice typing before any
      of the real tasks start.

      There will be 7 trials total, split into 3 blocks, with each trial lasting 3 minutes except
      the first trial, which is a practice trial and will last 30 seconds.
      The three blocks as follows:</p>

    <ol>
      <li>1 practice trial</li>
      <li>3 experiment trials</li>
      <li>3 experiment trials</li>
    </ol>
 </div>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>
