<div class="container-instructions">
  <h1>Instructions (continued)</h1>
  <div class="inside-instruct">
    <p>Sometimes the prompts will be simple: for example you may be asked to generate ideas
      about different things you can do to do with a piece of fruit.
    </p>

      <p>Other trials will be more complex: for example you may have to read a sentence explaining
      some fact about the world and then generate ideas about the consequences of the statement.
    </p>

      <p>No matter what, it is important that you type in <b> every idea that pops into you your head as
        soon as it does</b>. Try to type as fast as possible. It is not necessary that your
        idea "make sense", but try and describe your idea exactly as it came to you.
      </p>

      <p>When you are ready to begin, press "Begin Practice." You will then be given further instructions about a practice trial</p>
  </div>

  <div class="instructionsnav">
      <div class="row">
          <div class="col-xs-2">
              <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
              <span class="glyphicon glyphicon-arrow-left"></span> Previous
              </button>
          </div>
          <div class="col-xs-8">
          </div>
          <div class="col-xs-2">
              <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
              Begin Practice <span class="glyphicon glyphicon-arrow-right"></span>
              </button>
          </div>
      </div>
  </div>
</div>
